.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.movieImg{
    border-radius: 1rem;
}

.col{
    max-width: 450px;
    height: auto;
    margin: 20px;
}

.overview{
    font-size: 1.5rem;
}

@media (max-width: 560px){
    .col{
        max-width: 350px;
    }
}